@import url('https://fonts.googleapis.com/css?family=Open+Sans')
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700')
@import url('https://fonts.googleapis.com/css?family=Cardo:400i');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

* 
	box-sizing: border-box
	/*border: 1px solid #000;*/

body 
	margin: 0
	font-family: 'Open Sans', sans-serif

/*MASTHEAD*/

.masthead
	background: url("../img/OOLIZC0.jpg") center/cover
	height: 100vh
